<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->
<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.example.boardstudy.mapper.ReactionMapper">

    <insert id="insertReaction">
        INSERT INTO reaction
            SET memberId = #{memberId}
                , boardId = #{boardId}
                , point = #{point}
                , regDate = NOW()
    </insert>

    <select id="getReaction">
        SELECT IFNULL(SUM(point), 0) AS point
            FROM reaction
                WHERE boardId = #{boardId}
                    AND memberId = #{memberId}
    </select>

    <delete id="deleteReaction">
        DELETE FROM reaction
            WHERE boardId = #{boardId}
                AND memberId = #{memberId}
    </delete>



</mapper>